src/main/mule/anypoint-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65f20a22-1249-418e-9686-4c4811e5eb72" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="anypoint-cicdFlow" doc:id="260b4d3c-ac0e-477b-9562-aed394b38faa" >
		<http:listener doc:name="Listener" doc:id="a9def002-0704-471d-babd-367084dadc11" config-ref="HTTP_Listener_config" path="/arvestCICD"/>
		<ee:transform doc:name="Transform Message" doc:id="d9632fb8-9445-4c01-8593-8b6bd93b8303" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg": "AnypointCICD"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="7b478153-6990-411b-83b6-bc95058ddf54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="274b542d-d6a5-4db8-954c-118585398400" message="#[payload]"/>
	</flow>
</mule>
